<% if current_user.present? %>
  <div class="box_css">
    <%= link_to :tags do %>
      <p class="title">趣味タグから探す</p>
      <%= image_tag "D1AD40B497BDBA95323FBC585797B029EFBD8E37.jpg", class:"menu_image2" %>
    <% end %>
  </div>
  <div class="box_css">
    <%= link_to :timetables do %>
      <p class="title">空きコマから探す</p>
      <%= image_tag "F33316CF1507DABD7E26050BA211D2660397FB42.jpg", class:"menu_image2" %>
    <% end %>
  </div>
  <%= link_to "お知らせ", :announces %>
<% end %>
