<% if current_user.present? %>
  <%= link_to :announces, style: "margin-left: 85%;" do %>
    <% if current_user.announces.present? %>
      <%= image_tag "bell_2.png", size: "30x30", style: "margin-top:10px;" %>
    <% else %>
      <% ques = Announce.all %>
      <% ques = ques.order(:updated_time).last %>
      <% if ques.present? && Time.now-ques.updated_at < 259200 %>
        <%= image_tag "bell_2.png", size: "30x30", style: "margin-top:10px;" %>
      <% else %>
        <%= image_tag "bell.png", size: "30x30", style: "margin-top:10px;" %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to :tags do %>
    <%= image_tag "shumi.png", class:"menu_image2" %>
  <% end %>
  <%= link_to :timetables do %>
    <%= image_tag "akikoma.png", class:"menu_image2" %>
  <% end %>
<% end %>
<div style="margin:15%">
</div>
