<% tt = Timetable.find_by(user_id: current_user.id) %>

<h2 class="back">
  <%= link_to "< 空きコマ検索", :root %>
</h2>

<%= form_tag :search_timetables, method: :get do %>
  <table border="3" align="center">
    <tr align="center">
      <th width="30"></th>
      <th width="50">月</th>
      <th width="50">火</th>
      <th width="50">水</th>
      <th width="50">木</th>
      <th width="50">金</th>
    </tr>
    <tr align="center">
      <th>１</th>
      <td class="<%= "blank" if tt.mon1 == 1 %>"><%= check_box "tt", "mon1", {checked: params[:tt].present? && params[:tt][:mon1]=="1"} %></td>
      <td class="<%= "blank" if tt.tue1 == 1 %>"><%= check_box "tt", "tue1", {checked: params[:tt].present? && params[:tt][:tue1]=="1"} %></td>
      <td class="<%= "blank" if tt.wed1 == 1 %>"><%= check_box "tt", "wed1", {checked: params[:tt].present? && params[:tt][:wed1]=="1"} %></td>
      <td class="<%= "blank" if tt.thu1 == 1 %>"><%= check_box "tt", "thu1", {checked: params[:tt].present? && params[:tt][:thu1]=="1"} %></td>
      <td class="<%= "blank" if tt.fri1 == 1 %>"><%= check_box "tt", "fri1", {checked: params[:tt].present? && params[:tt][:fri1]=="1"} %></td>
    </tr>
    <tr align="center">
      <th>２</th>
      <td class="<%= "blank" if tt.mon2 == 1 %>"><%= check_box "tt", "mon2", {checked: params[:tt].present? && params[:tt][:mon2]=="1"} %></td>
      <td class="<%= "blank" if tt.tue2 == 1 %>"><%= check_box "tt", "tue2", {checked: params[:tt].present? && params[:tt][:tue2]=="1"} %></td>
      <td class="<%= "blank" if tt.wed2 == 1 %>"><%= check_box "tt", "wed2", {checked: params[:tt].present? && params[:tt][:wed2]=="1"} %></td>
      <td class="<%= "blank" if tt.thu2 == 1 %>"><%= check_box "tt", "thu2", {checked: params[:tt].present? && params[:tt][:thu2]=="1"} %></td>
      <td class="<%= "blank" if tt.fri2 == 1 %>"><%= check_box "tt", "fri2", {checked: params[:tt].present? && params[:tt][:fri2]=="1"} %></td>
    </tr>
    <tr align="center">
      <th>３</th>
      <td class="<%= "blank" if tt.mon3 == 1 %>"><%= check_box "tt", "mon3", {checked: params[:tt].present? && params[:tt][:mon3]=="1"} %></td>
      <td class="<%= "blank" if tt.tue3 == 1 %>"><%= check_box "tt", "tue3", {checked: params[:tt].present? && params[:tt][:tue3]=="1"} %></td>
      <td class="<%= "blank" if tt.wed3 == 1 %>"><%= check_box "tt", "wed3", {checked: params[:tt].present? && params[:tt][:wed3]=="1"} %></td>
      <td class="<%= "blank" if tt.thu3 == 1 %>"><%= check_box "tt", "thu3", {checked: params[:tt].present? && params[:tt][:thu3]=="1"} %></td>
      <td class="<%= "blank" if tt.fri3 == 1 %>"><%= check_box "tt", "fri3", {checked: params[:tt].present? && params[:tt][:fri3]=="1"} %></td>
    </tr>
    <tr align="center">
      <th>４</th>
      <td class="<%= "blank" if tt.mon4 == 1 %>"><%= check_box "tt", "mon4", {checked: params[:tt].present? && params[:tt][:mon4]=="1"} %></td>
      <td class="<%= "blank" if tt.tue4 == 1 %>"><%= check_box "tt", "tue4", {checked: params[:tt].present? && params[:tt][:tue4]=="1"} %></td>
      <td class="<%= "blank" if tt.wed4 == 1 %>"><%= check_box "tt", "wed4", {checked: params[:tt].present? && params[:tt][:wed4]=="1"} %></td>
      <td class="<%= "blank" if tt.thu4 == 1 %>"><%= check_box "tt", "thu4", {checked: params[:tt].present? && params[:tt][:thu4]=="1"} %></td>
      <td class="<%= "blank" if tt.fri4 == 1 %>"><%= check_box "tt", "fri4", {checked: params[:tt].present? && params[:tt][:fri4]=="1"} %></td>
    </tr>
    <tr align="center">
      <th>５</th>
      <td class="<%= "blank" if tt.mon5 == 1 %>"><%= check_box "tt", "mon5", {checked: params[:tt].present? && params[:tt][:mon5]=="1"} %></td>
      <td class="<%= "blank" if tt.tue5 == 1 %>"><%= check_box "tt", "tue5", {checked: params[:tt].present? && params[:tt][:tue5]=="1"} %></td>
      <td class="<%= "blank" if tt.wed5 == 1 %>"><%= check_box "tt", "wed5", {checked: params[:tt].present? && params[:tt][:wed5]=="1"} %></td>
      <td class="<%= "blank" if tt.thu5 == 1 %>"><%= check_box "tt", "thu5", {checked: params[:tt].present? && params[:tt][:thu5]=="1"} %></td>
      <td class="<%= "blank" if tt.fri5 == 1 %>"><%= check_box "tt", "fri5", {checked: params[:tt].present? && params[:tt][:fri5]=="1"} %></td>
    </tr>
  </table>
  <p align=center>
    <%= submit_tag "あいまい検索", style: "margin-right: 2%;", class: "search_btn" %>
    <%= submit_tag "ピッタリ検索", style: "margin-left : 2%;", class: "search_btn" %>
  </p>
<% end %>

<% if params[:tt].present? %>
  <%= render "search_result" %>
<% end %>
