<h2 class="back"><%= link_to "< My時間割", :timetables %></h2>
<table border="3" align="center">
  <tr align="center">
    <th width="30"></th>
    <th width="50">月</th>
    <th width="50">火</th>
    <th width="50">水</th>
    <th width="50">木</th>
    <th width="50">金</th>
  </tr>
  <tr align="center" height="50">
    <th>１</th>
    <% if @timetable.mon1==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue1==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed1==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu1==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri1==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th>２</th>
    <% if @timetable.mon2==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue2==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed2==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu2==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri2==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th>３</th>
    <% if @timetable.mon3==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue3==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed3==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu3==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri3==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th>４</th>
    <% if @timetable.mon4==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue4==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed4==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu4==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri4==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th width="30">５</th>
    <% if @timetable.mon5==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue5==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed5==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu5==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri5==0 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
</table>
<%= button_to "空きコマの編集", :edit_timetable, {method: :get} %>
