<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @automail.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @automail.email %>
</p>

<%= link_to 'Edit', edit_automail_path(@automail) %> |
<%= link_to 'Back', automails_path %>
