<table style="width: 80%; font-size: 16px; margin: 3% auto auto auto; text-align: center;">
  <tr>
    <td style="width: 30%;">
      <%= image_tag @user.image.url, class: 'rounded-circle', size: '98x98' %>
    </td>
    <td class="name" colspan="2" style="padding-right:10%;"><%= @user.name %></td>
  </tr>
</table>
<table style="width: 70%; font-size: 16px; margin: auto; text-align: center;" align="center">
  <tr>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <%= @user.undergraduate %> <%= @user.grade %>年
      </p>
    </td>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <%= @user.birthplace %>
      </p>
    </td>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <% if @user.sex==1 %>男性
        <% elsif @user.sex==2 %>女性
        <% else %>--
        <% end %>
      </p>
    </td>
  </tr>
</table>
<br>
<p align="center"><%= safe_join(@user.comment.split("\n"),tag(:br)) %></p>
<br>
<p style="width: 90%; margin: auto;">
  <% @tags.each do |tag| %>
    <span style="margin: auto 5px auto 5px;">#<%= tag.name %></span>
  <% end %>
</p>
<br>
<table style="margin: 0 auto;">
  <tr align="center">
    <% if current_user.following?(@user) %>
      <td><%= link_to "フォロー外す", user_follows_path(@user.id), method: :delete %></td>
      <% urs=UserRoom.where(user_id: current_user.id) %>
      <% a=0 %>
      <% room_url=Room.new() %>
      <% urs.each do |ur| %>
        <% i = UserRoom.find_by(user_id: @user.id, room_id: ur.room_id) %>
        <% if i.present? %>
          <% a=1 %>
          <% room_url=Room.find(ur.room_id) %>
        <% end %>
      <% end %>
      <% if a!=0 %>
        <td><%= link_to "メッセージ", room_url %></td>
      <% else %>
        <td><%= link_to "メッセージ", new_user_room_path(@user) %></td>
      <% end %>
    <% else %>
      <td><%= link_to "フォローする", user_follows_path(@user.id), method: :post %></td>
    <% end %>
  </tr>
</table>
<br>

<% if current_user.following?(@user) %>
  <table style="margin: 0 auto;">
    <tr>
      <td>
        <% if @user.twitter.present? %>
          <% tw = 'https://twitter.com/'.concat(@user.twitter) %>
          <%= link_to image_tag("Twitter_logo.png", size:"86x86"),tw, style: "padding-right:50px;" %>
        <% end %>
        <% if @user.instagram.present? %>
          <% i = 'https://www.instagram.com/'.concat(@user.instagram) %>
          <%= link_to image_tag("Instagram_logo.png", size:"86x86"),i, style: "padding-left:50px;"%>
        <% end %>
      </td>
    </tr>
  </table>
  <%= render "shared/timetable" %>
<% end %>
<br>
<%= link_to "<<ユーザ一覧に戻る", :users %>
