<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<div class="space2">
</div>
<div style="text-align: center">
  <%= image_tag 'logo.png', size: "250x75"%>
</div>
<%= form_tag :session, id: "login_form" do %>
  <div style="text-align: center">
    <br>
    <input type="text" class="textbox" name="name" placeholder="ユーザ名">
    <input type="password" class="textbox" name="password" placeholder="パスワード">
  </div>

  <div style="text-align: center">
    <input type="submit" value="ログイン" class='buttonlogin'>
  <space>
  </space>
  </div>
<% end %>
<div style="text-align: center; margin-bottom: 8px;">
  <%= button_to "新規登録はこちら", "/register", method: "get", class: 'buttonentry' %>
</div>
<div style="text-align: center">
<%= link_to "パスワードを忘れた方はこちら", password_resets_path, style: "font-size: 14px; text-decolation: none;" %>
</div>
