<a href="#<%= modal_id %>">
  <%= image_tag modal_image, width: '170px', height: '160px', style: "border: 1px solid black" %>
</a>

<div class="modal-wrapper" id="<%= modal_id %>">
  <a href="#!" class="modal-overlay"></a>
  <div class="modal-window">
    <div class="modal-content">
      <p><%= image_tag modal_image, width: '200px', height: '200px', style: "border: 1px solid black" %></p>
      <p># <%= modal_name %></p>
      <p><%= link_to "しょうさい", controller: 'user_tags', action: 'show', id: user_tag.id %></p>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>


<%# ------------------------------------ %>
<% num = @tags.count/2 %>
<% if @tags.count%2 == 0 %> <!-- タグが偶数 -->
  <div class="inline-block_test">
  <table class="tag_table">
    <% for i in 1..num %>
      <% a = @tags.limit(i*2-1).last %><% ta = current_user.user_tags.find_by(tag_id: a.id) %>
      <tr>
        <td>
          <% modal_a = "modal_a"+i.to_s %>
          <%= render partial: "shared/test", :locals=>{:user_tag => ta, :modal_id => modal_a, :modal_name => a.name, :modal_image => ta.tag_image.url} %>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 12px;"># <%= a.name %></td>
      </tr>
    <% end %>
  </table>
  </div>
  <div class="inline-block_test">
  <table class="tag_table">
    <% for i in 1..num %>
      <% b = @tags.limit(i*2).last %><% tb = current_user.user_tags.find_by(tag_id: b.id) %>
      <tr>
        <td>
          <% modal_b = "modal_b"+i.to_s %>
          <%= render partial: "shared/test", :locals=>{:user_tag => tb, :modal_id => modal_b, :modal_name => b.name, :modal_image => tb.tag_image.url} %>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 12px;"># <%= b.name %></td>
      </tr>
    <% end %>
  </table>
  </div>
<% else %>
  <div class="inline-block_test">
  <table class="tag_table">
    <% for i in 1..num+1 %>
      <% c = @tags.limit(i*2-1).last %><% tc = current_user.user_tags.find_by(tag_id: c.id) %>
      <tr>
        <td>
          <% modal_c = "modal_c"+i.to_s %>
          <%= render partial: "shared/test", :locals=>{:user_tag => tc, :modal_id => modal_c,:modal_name => c.name, :modal_image => tc.tag_image.url} %>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 12px;"># <%= c.name %></td>
      </tr>
    <% end %>
  </table>
  </div>
  <div class="inline-block_test">
  <table class="tag_table">
    <% for i in 1..num %>
      <% e = @tags.limit(i*2).last %><% te = current_user.user_tags.find_by(tag_id: e.id) %>
      <tr>
        <td>
          <% modal_e = "modal_e"+i.to_s %>
          <%= render partial: "shared/test", :locals=>{:user_tag => te, :modal_id => modal_e,:modal_name => e.name, :modal_image => te.tag_image.url} %>
        </td>
      </tr>
      <tr>
        <td style="padding-bottom: 12px;"># <%= e.name %></td>
      </tr>
    <% end %>
  </table>
  </div>
<% end %>
