<div class="navbar">
  <button class="menuitem menuitem-side">
    <%= link_to :rooms do %>
      <%= image_tag 'chat.png', width: "90%", height: "90%" %>
    <% end %>
  </button>
  <button class="menuitem menuitem-center">
    <%= link_to :root do %>
      <%= image_tag 'home.png', width: "120%", height: "90%",:align => 'center', :border => 0 %>
    <% end %>
  </button>
  <button class="menuitem menuitem-side">
    <%= link_to :account do %>
      <%= image_tag 'account.png', width: "90%", height: "80%" %>
    <% end %>
  </button>
</div>
