<div class="navbar">
  <button class="menuitem menuitem-side">
    <%= link_to :rooms do %>
      <div class="touch_s">
        <%= image_tag 'chat.png', size: "25x25" %>
        <p>Talk</p>
      </div>
    <% end %>
  </button>
  <button class="menuitem menuitem-center">
    <%= link_to :root do %>
      <div class="touch_c">
        <%= image_tag 'home.png', size: "33x29" %>
      </div>
    <% end %>
  </button>
  <button class="menuitem menuitem-side">
    <%= link_to :account do %>
      <div class="touch_s">
        <%= image_tag 'account.png', size: "25x25" %>
        <p>Profile</p>
      </div>
    <% end %>
  </button>
</div>
