<% prefectures=["北海道","青森","岩手","宮城","秋田","山形","福島","茨城","栃木","群馬","埼玉","千葉","東京都","神奈川","新潟","富山","石川","福井","山梨","長野","岐阜","静岡","愛知","三重","滋賀","京都府","大阪府","兵庫","奈良","和歌山","鳥取","島根","岡山","広島","山口","徳島","香川","愛媛","高知","福岡","佐賀","長崎","熊本","大分","宮崎","鹿児島","沖縄"] %>
<% ugs=["経済学部","経営学部","文学部","ネットワーク情報学部","人間科学部"] %>

<table style="width: 90%; font-size: 16px; margin: 3% auto; text-align: center;" align="center">
  <tr>
    <td>
      <% if @user.image.present? %>
        <%= image_tag @user.image.url, class: 'rounded-circle', size: '128x128', id:"alter-image" %>
      <% else %>
        <%= image_tag "account.png", class: 'rounded-circle', size: '128x128', id:"alter-image" %>
      <% end %>
      <%= form.label :image, "プロフィール画像を編集", class: "image_input_btn" %>
      <%= form.file_field :image, accept: 'image/*', style: "display: none;" %>
      <%= form.hidden_field :image_cache %>
    </td>
  </tr>
</table>

<%= render "shared/errors", obj: @user %>

<table align=center style="width: 96%; font-size: 16px;">
  <tr>
    <th style="display: flex">
      ユーザー名<span class="required">必須</span>
    </th>
    <td><%= form.text_field :name, style: "width: 80%; font-size: 16px;",required: :true, placeholder: "12文字まで" %></td>
  </tr>
  <tr>
    <th style="display: flex">
      性別<span class="required">必須</span>
    </th>
    <td>
      <%= form.radio_button :sex, 1 %>
      <%= form.label :sex_1, "男性" %>
      <%= form.radio_button :sex, 2 %>
      <%= form.label :sex_2, "女性" %>
      <%= form.radio_button :sex, 3 %>
      <%= form.label :sex_3, "指定しない" %>
    </td>
  </tr>
  <tr>
    <th style="display: flex">
      出身<span class="required">必須</span>
    </th>
    <td><%= form.select :birthplace, prefectures, {include_blank: "選択してください"},required: :true, style: "font-size: 16px;" %></td>
  </tr>
  <tr>
    <th style="display: flex">
      学部<span class="required">必須</span>
    </th>
    <td><%= form.select :undergraduate, ugs, {include_blank: "選択してください"},required: :true, style: "font-size: 16px;" %></td>
  </tr>
  <tr>
    <th style="display: flex">
      学年<span class="required">必須</span>
    </th>
    <td><%= form.select :grade, [["1年",1],["2年",2],["3年",3],["4年",4]], {include_blank: "選択してください"},required: :true, style: "font-size: 16px;" %></td>
  </tr>
  <tr>
    <th align=left>コメント</th>
    <td><%= form.text_area :comment, rows: "3%", style: "width: 80%; font-size: 16px;" %></td>
  </tr>

  <tr>
    <th align=left>Twitter<span style="color:#2E8B58;font-weight:bold">*</span></th>
    <td><%= form.text_field :twitter, style: "width: 80%; font-size: 16px;", placeholder: "例：@Twitter" %></td>
  </tr>
  <tr>
    <th align=left>Instagram<span style="color:#2E8B58;font-weight:bold">*</span></th>
    <td><%= form.text_field :instagram, style: "width: 80%; font-size: 16px;", placeholder: "例：instagram" %></td>
  </tr>
</table>
<p style="margin-left:8%;font-size:12px;margin-top:0;">
  (<span style="color:#2E8B58;font-weight:bold">*</span>は相互フォローしたユーザーにのみ表示されます)
</p>
