<h2 style="font-size:150%;">
  <div class="back">
    <%= link_to :requests do %>
      < 前ページ
    <% end %>
  </div>
</h2>

<table style="width: 95%">
  <tr>
    <th style="text-align: left; padding-top: 15px;">投稿日時：<%= @request.created_at.strftime("%-m月%-d日%H:%M") %></th>
  </tr>
  <tr style="padding: 10px 0;">
    <td style="border: black 1px solid; border-color: black;"><%= @request.content %></td>
  </tr>
</table>

<table style="width: 95%">
  <tr>
    <th style="text-align: left; padding-top: 15px;">回答日時：<%= @request.updated_at.strftime("%-m月%-d日%H:%M") %></th>
  </tr>
  <tr style="padding: 10px 0;">
    <td style="border: black 1px solid; border-color: black;"><%= @request.response %></td>
  </tr>
</table>
