<% time=Time.current %>
<% mytags = current_user.user_tags.pluck(:tag_id).sample(10) %>
<% recommend = [] %> <!-- 各ユーザのおすすめ度を入れていく [user, point] -->

<% users = User.where.not(id: current_user.id) %>
<% users = users.where.not(name: nil).sample(8) %>

<% users.each do |other| %>
  <% othertags = other.user_tags.pluck(:tag_id) %>
  <% othertags = othertags.sample(10) %>
  <% point = 0 %>
  <% mytags.each do |mt| %>
    <% othertags.each do |ot| %>
      <% if TagRelation.find_by(tag1_id: mt, tag2_id: ot).present? %>
        <% rp = TagRelation.find_by(tag1_id: mt, tag2_id: ot).degree %>
        <% point += rp %>
      <% elsif TagRelation.find_by(tag1_id: ot, tag2_id: mt).present? %>
        <% rp = TagRelation.find_by(tag1_id: ot, tag2_id: mt).degree %>
        <% point += rp %>
      <% end %>
    <% end %>
  <% end %>
  <% recommend << [other, point] %>
<% end %>
<% recommend.sort_by! {|x| -x[1] } %>
<!-- ここまでで各ユーザのおすすめ度の計算 -->

<p style="font-size:10px; margin:0 0 3% 10%">＊ランダムに選んだユーザーをおすすめ順に表示します</p>

<% num = recommend.count/2 %>
<% if recommend.count%2 == 0 %> <!-- 投稿が偶数 -->
  <div style="display: flex">
    <table width=42% style="margin-left:8%"> <!-- 左 -->
      <% for i in 0..num-1 %>
        <tr>
          <td>
            <% a = recommend[i*2][0] %>
            <% modal_a = "modal_a"+i.to_s %>
            <%= render partial: "shared/result_modal", :locals=>{:modal_id => modal_a, :modal_user => a} %>
          </td>
        </tr>
      <% end %>
    </table>
    <table width=42%>  <!-- 右 -->
      <% for i in 0..num-1 %>
        <tr>
          <td>
            <% b = recommend[i*2+1][0] %>
            <% modal_b = "modal_b"+i.to_s %>
            <%= render partial: "shared/result_modal", :locals=>{:modal_id => modal_b, :modal_user => b} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %> <!-- 投稿が奇数 -->
  <% if recommend.count!=1 %>
    <div style="display: flex">
      <table width=42% style="margin-left:8%">
        <% for i in 0..num-1 %>
          <tr>
            <td>
              <% a = recommend[i*2][0] %>
              <% modal_a = "modal_a"+i.to_s %>
              <%= render partial: "shared/result_modal", :locals=>{:modal_id => modal_a, :modal_user => a} %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <% c = recommend[recommend.count-1][0] %>
            <% modal_c = "modal_c"+i.to_s %>
            <%= render partial: "shared/result_modal", :locals=>{:modal_id => modal_c, :modal_user => c} %>
          </td>
        </tr>
      </table>
      <table width=42%>
        <% for i in 0..num-1 %>
          <tr>
            <td>
              <% b = recommend[i*2+1][0] %>
              <% modal_b = "modal_b"+i.to_s %>
              <%= render partial: "shared/result_modal", :locals=>{:modal_id => modal_b, :modal_user => b} %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <table style="width:42%; margin-left: 8%">
      <tr>
        <td style="width: 50%;">
          <% a = recommend[0][0] %>
          <% modal_a = "modal_a"+i.to_s %>
          <%= render partial: "shared/result_modal", :locals=>{:modal_id => modal_a, :modal_user => a} %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
