<% parents = Tag.where(ancestry: nil) %>
<table align="center" width="98%">
  <tr>
    <td width="50%" style="vertical-align: top;">
      <% for i in 1..6 do %>
        <% pa=parents.find(i*2-1) %>
        <% cs = Tag.where(ancestry: pa.id.to_s) %>
        <table width="100%">
          <tr>
            <td>
              <div id="accordion" class="accordion-container_2">
                <h4 class="accordion-title_2 js-accordion-title" style="height: 24px"><%= pa.name %></h4>
                <div class="accordion-content_2" style="padding-bottom: 5px;">
                  <% cs.each do |c| %>
                    <p class="hashtag">
                      <%= link_to ({ controller: "tags", action: "tag_search", tagname: c.name })  do %>
                        <span><%= c.name %></span>
                      <% end %>
                    </p>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
    <td width="50%" style="vertical-align: top;">
      <% for i in 1..6 do %>
        <% pa=parents.find(i*2) %>
        <% cs = Tag.where(ancestry: pa.id.to_s) %>
          <table width="100%">
            <tr>
              <td>
                <div id="accordion" class="accordion-container_2">
                <h4 class="accordion-title_2 js-accordion-title" style="height: 24px"><%= pa.name %></h4>
                <div class="accordion-content_2" style="padding-bottom: 5px;">
                  <% cs.each do |c| %>
                    <p class="hashtag">
                      <%= link_to ({ controller: "tags", action: "tag_search", tagname: c.name })  do %>
                        <span>
                          <% if c.name=="ダーツ ビリヤード ボーリング" %>
                            ﾀﾞｰﾂ ﾋﾞﾘﾔｰﾄﾞ ﾎﾞｳﾘﾝｸﾞ
                          <% else %>
                            <%= c.name %>
                          <% end %>
                        </span>
                      <% end %>
                    </p>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
  <tr>
  <th align=center colspan="2">
    <%= link_to ({ controller: "tags", action: "tag_search", tagname: "おすすめ"}),align: "center", class:"push-btn btn--shadow" do %>
    <span><%= "おすすめはこちら" %></span>
    <% end %>
  </th>
  </tr>
</table>
