<h2 class="back">
  <%= link_to "< 趣味で探す", :root %>
</h2>

<%= form_tag :tag_search_tags, method: :get do %>
  <div class="wrapper">
    <div class="search-area">
      <%= text_field_tag "tagname", params[:tagname],{id: "search-text", placeholder: "検索ワードを入力"} %>
      <%= submit_tag "検索" %>
      <input type="button" id="button4" value="×" >
      <div class="search-result">
        <div id="search-result__list"></div>
      </div>
    </div>

    <span class="target-area">
      <% Tag.where.not(ancestry: nil).each do |t| %>
        <p class="hashtag">
          <%= link_to ({ controller: "tags", action: "tag_search", tagname: t.name }) do %>
            <span><%= t.name %></span>
          <% end %>
        </p>
      <% end %>
    </span>
  </div>
<% end %>

<% if params[:tagname].present? %>
  <% if @users.length!=0 %>
    <% @users.each do |user| %>
      <%= link_to user.name, user %>
    <% end %>
  <% else %>
    該当するユーザはいません。
  <% end %>
<% end %>
<%= render "shared/recommend_user" %>
<br><br><br>
