<h2 class="back">
  <%= link_to "< 趣味で探す", :root %>
</h2>

<% if params[:tagname].present? %>
  <%= render "serch_area" %>
  <h3 style="margin-left:10%; margin-bottom:5px; font-size: 22px;">
    検索結果
    <p class="searchtag" style="margin: -5px 0 0 5%; vertical-align: middle;">
      <span style="padding-top:2px;"><%= params[:tagname] %></span>
    </p>
  </h3>
  <% if params[:tagname]=="おすすめ" %>
    <%= render "recommend_user" %>
  <% else %>
    <%= render "search_result" %>
  <% end %>
<% else %>
  <%= render "serch_area" %>
<% end %>
<br><br><br><br>
