<h2 class="back"><%= link_to "< タグ選択", :account %></h2>

<% parents = Tag.where(ancestry: nil) %>
<% i=12 %>
<%= form_tag( {:controller => 'tags', :action => 'create'},{ :method => :post} ) do %>
  <% parents.each do |pa| %>
    <div id="accordion" class="accordion-container">
      <h4 class="accordion-title js-accordion-title"><%= pa.name %></h4>

      <% cs = Tag.where(ancestry: pa.id.to_s) %>
      <div class="accordion-content" style="padding-top: 5px">
        <% cs.each do |c| %>
          <% i += 1 %>
          <span style="margin: auto 10px auto 0; white-space: nowrap;">
            <%= check_box "tag", i.to_s, { checked: UserTag.find_by(user_id: current_user.id, tag_id: i).present? } %>
            <%= label_tag "tag", c.name %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= submit_tag "登録", class: "tag-btn" %>
<% end %>
<br><br><br>
