<h2 style="padding-left: 2.5%;">
  <div class="back">
    <%= link_to "＜#{@talker.name}", :rooms %>
  </div>
</h2>

<% date=Time.local(2022, 1, 1, 0, 0, 0) %>
<% wd=["日","月","火","水","木","金","土"] %>
<div class="scroll">
  <div id="scroll-inner">
    <% @messages.each do |message| %>
      <% month=date.month %>
      <% day=date.day %>
      <% if month!=message.date.month or day!=message.date.day %>
        <div class="date"><p><%= message.date.strftime("%-m/%-d(#{wd[message.date.wday]})") %></p></div>
        <% date=message.date %>
      <% end %>
      <% if message.user != current_user %>
        <div class="partner">
          <div class="faceicon">
            <p><%= message.user.name %></p>
          </div>
          <div class="chatting">
            <div class="says">
              <p><%= message.text %></p>
            </div>
            <span style="font-size: 10px;"><%= message.date.strftime('%-H:%M') %></span>
          </div>
        </div>
      <% else %>
        <div class="self">
          <span style="font-size: 10px;"><%= message.date.strftime('%-H:%M') %></span>
          <p><%= message.text %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<table style="margin:0 auto;">
  <%= form_for @message do |f| %>
    <div class="send">
      <tr>
        <td style="width=1000px;"><%= f.text_field :text, class: "input" %></td>
        <td><%= f.hidden_field :room_id %></td>
        <td><%= f.submit "送信", class: "btn"%></td>
      </tr>
    </div>
  <% end %>
</table>


<br><br><br><br>
<%= link_to "<<ユーザ一覧", :users %><br>
