<% if flash.notice %>
  <p class="notice"><%= flash.notice %></p>
<% end %>

<h3>通報一覧</h3>
<table border=5 width="500px">
  <tr align="center">
    <th colspan="2">通報者</th>
    <th colspan="2">通報された人</th>
    <th>削除</th>
  </tr>
  <% @reports.each do |rep| %>
    <tr align="center">
      <td><%= rep.from.id %></td>
      <td><%= link_to rep.from.name, [:admin, rep.from] %></td>
      <td><%= rep.to.id %></td>
      <td><%= link_to rep.to.name, [:admin, rep.to] %></td>
      <td><%= link_to "×", [:admin, rep], method: :delete, data: { confirm: "本当に削除しますか?" } %></td>
    </tr>
  <% end %>
</table>
<br>
<h3>通報された回数集計</h3>
<table border=5 width="500px">
  <tr align="center">
    <th>ID</th>
    <th>通報者</th>
    <th>回数</th>
  </tr>
  <% User.all.each do |user| %>
    <tr align="center">
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= Report.where(to_id: user.id).count %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "<<戻る", :admin_root %>
