<%= form_with(model: @user, local: true, url: {controller: "agrees", action: "update"}) do |form| %>
  <table width=80% style="margin: 10%">
    <tr>
      <td colspan="2" style="height: 200px">
        <div class="terms">
          <p style="font-size: 22px; font-weight: bold;margin: 8px 0">【Aminect利用規約】</p>
          <%= render "shared/terms" %>
        </div>
      </td>
    </tr>
    <tr>
      <td align=center width=50%>
        <%= form.check_box :agreement, :as => :boolean %>
        <%= form.label :agreement, "同意する" %>
      </td>
      <td align=center>
        <%= form.submit "完了", class: "complete-btn" %>
      </td>
    </tr>
  </table>
<% end %>
