<!DOCTYPE html>
<html>
  <head>
    <title>Aminect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = "container">
      <header>
        <% if current_user.present?||current_page?(:check_account)||current_page?(:new_account)||params[:back] %>
          <%= render "shared/header" %>
        <% end %>
      </header>
      <main>
        <% if current_user.present? %>
          <div class="content">
            <% if flash.notice %>
              <% if current_page?(:account) %>
                <p class="notice"><%= flash.notice %></p>
              <% end %>
            <% end %>
            <%= yield %>
          </div>
          <% if current_page?(:account) %>
            <%= button_to "+", :new_account_post, method: "get", class: "post-btn" %>
          <% end %>
        <% else %>
          <%= yield %>
        <% end %>
      </main>
      <aside id="sidebar">
      </aside>
      <footer>
        <% if current_user.present? %>
          <% unless current_page?(:new_account) %>
            <%= render "shared/under_menubar" %>
          <% end %>
        <% end %>
      </footer>
    </div>
  </body>
</html>
