<!DOCTYPE html>
<html>
  <head>
    <title>Aminect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = "container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
        <% if current_user.present? %>
          <div class="content">
            <% if flash.notice %>
              <p class="notice"><%= flash.notice %></p>
            <% end %>
            <%= yield %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </main>
      <aside id="sidebar">
        <% unless current_page?(new_account_path) %>
          <%= render "shared/sidebar" %>
        <% end %>
      </aside>
      <footer>
        <% if current_user.present? %>
          <%= render "shared/under_menubar" %>
        <% end %>
      </footer>
    </div>
  </body>
</html>
