<!DOCTYPE html>
<html>
  <head>
    <title>Aminect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = "container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main style="position: absolute;width: 100%;height: 83%;">
        <%= yield %>
      </main>
      <footer>
        <% if current_page?(rooms_path) %>
          <%= render "shared/under_menubar" %>
        <% else %>
        <div class="send">
          <%= form_for @message do |f| %>
            <table style="width:98%;">
              <td style="border: 1px solid black;border-radius: 10px;background-color: #fff;"><%= f.text_area :text, class: "input" %></td>
              <%= f.hidden_field :room_id %>
              <td style="width: 3%;"><%= f.submit "送信", class: "btn", id: "btn" %></td>
            </table>
          <% end %>
        </div>
        <% end %>
      </footer>
    </div>
  </body>
</html>
