<h2 class="back">新規登録</h2>
<a href="#delete" class="cancel">キャンセル</a>
<div class="modal-cancel" id="delete">
  <a href="#!" class="modal-overlay">×</a>
  <div class="modal-window">
    <div class="modal-content">
      <h3>新規登録をキャンセルしますか</h3>
      <p>※この操作の完了後、再び新規登録する際はメール送信からやり直してください</p>
      <%= form_for @user, url: :cancel_account, method: :delete do |form| %>
        <%= form.hidden_field :email  %>
        <%= form.submit "登録をキャンセル", method: :delete, data:{ confirm: "本当にキャンセルしますか?" },
         style:"border:1px; border-radius:3px; padding:5px; color:white; background-color:#dc143c; text-decoration:none" %>
      <% end %>
    </div>
    <a href="#!" class="modal-close">×</a>
  </div>
</div>

<%= form_for @user, url: :confirm_account, method: :post do |form| %>
  <%= render "shared/user_form", form: form %>
  <%= form.hidden_field :email  %>
  <%= form.submit "確認", class: "tag-btn" %>
<% end %>
