<%= link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか?" } %>
<table>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <% if @user.sex==1 %>男性
      <% elsif @user.sex==2 %>女性
      <% else %>--
      <% end %>
    </td>
  </tr>
  <tr>
    <th>出身地</th>
    <td><%= @user.birthplace %></td>
  </tr>
  <tr>
    <th>学部</th>
    <td><%= @user.undergraduate %></td>
  </tr>
</table>
<br>
<h3>空きコマ</h3>
<table border="3" align="center">
  <tr align="center">
    <th width="30"></th>
    <th width="50">月</th>
    <th width="50">火</th>
    <th width="50">水</th>
    <th width="50">木</th>
    <th width="50">金</th>
  </tr>
  <tr align="center" height="50">
    <th>１</th>
    <% if @timetable.mon1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th>２</th>
    <% if @timetable.mon2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th>３</th>
    <% if @timetable.mon3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th>４</th>
    <% if @timetable.mon4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th width="30">５</th>
    <% if @timetable.mon5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
</table>
<%= button_to "アカウント情報の編集", :edit_account, {method: :get} %>
<br>
<table>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <% if @user.sex==1 %>男性
      <% elsif @user.sex==2 %>女性
      <% else %>--
      <% end %>
    </td>
  </tr>
  <tr>
    <th>出身地</th>
    <td><%= @user.birthplace %></td>
  </tr>
  <tr>
    <th>学部</th>
    <td><%= @user.undergraduate %></td>
  </tr>
</table>
