<table>
  <tr>
    <th>プロフィール写真</th>
    <td><%= image_tag @user.image.url, class: 'rounded-circle', size: '50x50' %></td>
  </tr>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <% if @user.sex==1 %>男性
      <% elsif @user.sex==2 %>女性
      <% else %>--
      <% end %>
    </td>
  </tr>
  <tr>
    <th>出身地</th>
    <td><%= @user.birthplace %></td>
  </tr>
  <tr>
    <th>学部</th>
    <td><%= @user.undergraduate %></td>
  </tr>
</table>
<br>
<h3>空きコマ</h3>
<table border="3" align="center">
  <tr align="center">
    <th width="30"></th>
    <th width="50">月</th>
    <th width="50">火</th>
    <th width="50">水</th>
    <th width="50">木</th>
    <th width="50">金</th>
  </tr>
  <tr align="center" height="50">
    <th>１</th>
    <% if @timetable.mon1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri1==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th>２</th>
    <% if @timetable.mon2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri2==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th>３</th>
    <% if @timetable.mon3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri3==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th>４</th>
    <% if @timetable.mon4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri4==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
  <tr align="center" height="50">
    <th width="30">５</th>
    <% if @timetable.mon5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.tue5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.wed5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.thu5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
    <% if @timetable.fri5==0 %><td bgcolor="pink">空き</td><% else %><td><%= image_tag('study.png', size: "40x40")%></td><% end %>
  </tr>
</table>
<%= button_to "アカウント情報の編集", :edit_account, {method: :get} %>
<br>
<table>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <% if @user.sex==1 %>男性
      <% elsif @user.sex==2 %>女性
      <% else %>--
      <% end %>
    </td>
  </tr>
  <tr>
    <th>出身地</th>
    <td><%= @user.birthplace %></td>
  </tr>
  <tr>
    <th>学部</th>
    <td><%= @user.undergraduate %></td>
  </tr>
</table>
<!-- ------------------------------------------- -->
<table border=5 width="500px">
  <caption>フォロー</caption>
  <tr align="center">
    <th>ID</th>
    <th>名前</th>
    <th>フォロー</th>
    <th>ルーム</th>
  </tr>
  <% @follows.each do |follow| %>
    <% a=0 %>
    <tr align="center">
      <% user = User.find(follow.to_id)%>
      <td><%= user.id%></td>
      <td><%= link_to user.name, user %></td>
      <td>
          <%= link_to "フォロー外す", user_follows_path(user.id), method: :delete %>
      </td>
    <% urs=UserRoom.where(user_id: current_user.id) %>
    <% room_url=Room.new() %>
    <% urs.each do |ur| %>
      <% i = UserRoom.find_by(user_id: user.id, room_id: ur.room_id) %>
      <% if i.present? %>
        <% a=1 %>
        <% room_url=Room.find(ur.room_id) %>
      <% end %>
    <% end %>
    <% if a!=0 %>
      <td><%= link_to "チャット", room_url %></td>
    <% else %>
      <td><%= link_to "ルーム作成", new_user_room_path(user) %></td>
    <% end %>
    </tr>
  <% end %>
</table>

<table border=5 width="500px">
  <caption>フォロワー</caption>
  <tr align="center">
    <th>ID</th>
    <th>名前</th>
    <th>フォロー</th>
    <th>ルーム</th>
  </tr>
  <% @followers.each do |follower| %>
    <% a=0 %>
    <tr align="center">
      <% user = User.find(follower.from_id)%>
      <td><%= user.id%></td>
      <td><%= link_to user.name, user %></td>
      <td>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー外す", user_followers_path(user.id), method: :delete %>
        <% else %>
            <%= link_to "フォローする", user_followers_path(user.id), method: :post %>
        <% end %>
      </td>
    <% urs=UserRoom.where(user_id: current_user.id) %>
    <% room_url=Room.new() %>
    <% urs.each do |ur| %>
      <% i = UserRoom.find_by(user_id: user.id, room_id: ur.room_id) %>
      <% if i.present? %>
        <% a=1 %>
        <% room_url=Room.find(ur.room_id) %>
      <% end %>
    <% end %>
    <% if a!=0 %>
      <td><%= link_to "チャット", room_url %></td>
    <% else %>
      <td><%= link_to "ルーム作成", new_user_room_path(user) %></td>
    <% end %>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "<<ユーザ一覧に戻る", :users %>
