<table border="1" style="width: 90%; font-size: 16px; margin: 3% auto auto auto; text-align: center;" align="center">
  <tr>
    <td width="40%" rowspan="2">
      <%= image_tag @user.image.url, class: 'rounded-circle', size: '128x128' %>
    </td>
    <td class="name" colspan="2">
      <%= @user.name %>
    </td>
  </tr>
  <tr height="0">
    <td width="30%">
      <div>
        <%= link_to :followers_account, style: "text-decoration:none; color:#000;" do %>
          <%= @user.followers.count %><br>フォロワー
        <% end %>
      </div>
    </td>
    <td width="30%">
      <div>
        <%= link_to :followings_account, style: "text-decoration:none; color:#000;" do %>
          <%= @user.followings.count %><br>フォロー
        <% end %>
      </div>
    </td>
  </tr>
</table>

<table style="width: 90%; font-size: 20px; text-align: center;" align="center">
  <tr>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <%= @user.undergraduate %> <%= @user.grade %>年
      </p>
    </td>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <%= @user.birthplace %>
      </p>
    </td>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <% if @user.sex==1 %>男性
        <% elsif @user.sex==2 %>女性
        <% else %>—
        <% end %>
      </p>
    </td>
  </tr>
</table>

<p align="center"><%= safe_join(@user.comment.split("\n"),tag(:br)) %></p>
<br>

<p align="center">
  <% if @user.twitter.present? %>
    <% tw = 'https://twitter.com/'.concat(@user.twitter) %>
    <%= link_to image_tag("Twitter_logo.png", size:"86x86"),tw, style: "padding:0 7%;" %>
  <% end %>
  <% if @user.instagram.present? %>
    <% i = 'https://www.instagram.com/'.concat(@user.instagram) %>
    <%= link_to image_tag("Instagram_logo.png", size:"86x86"),i, style: "padding:0 7%;"%>
  <% end %>
</p>

<br>

<table align=center width=80% style="margin: 0 10%">
  <tr>
    <td colspan="2"><%= button_to "プロフィールを編集する", :edit_account, {method: :get, class: "pro-btn"} %></td>
  </tr>
  <tr>
    <td width=50% align=right style="padding-right: 2%"><%= button_to "パスワード変更", :edit_password, {method: :get, class: "req-btn"} %></td>
    <td width=50% align=left style="padding-left: 2%"><%= button_to "問い合わせ", :account_requests, {method: :get, class: "req-btn"} %></td>
  </tr>
</table>
<br>

<%= link_to :new_account_tag, style: "text-decoration:none" do %>
  <table style="width: 86%; margin: auto;" align="center">
    <tr>
      <td align="center">
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
            <span style="margin: auto 5px auto 5px; white-space: nowrap; color: #007AFF;">#<%= tag.name %></span>
          <% end %>
        <% else %>
          <span style="margin: auto 5px auto 5px; white-space: nowrap; color: #007AFF;">趣味タグを選択してみよう！</span>
        <% end %>
      </td>
      <td><%= image_tag "edit.png", size: "25x25" %></td>
    </tr>
  </table>
<% end %>

<div class="timetable" align=center>
  <%= link_to edit_account_timetable_path(@timetable.id), {method: :get, class: "edit_img"} do %>
    <h3>時間割 <%= image_tag("edit.png", size: "15x15") %></h3>
  <% end %>
  <%= render "shared/timetable" %>
</div>
<br>

<% num = @posts.count/2 %>
<% if @posts.count%2 == 0 %> <!-- 投稿が偶数 -->
  <table align="center"  style="width:84%;">
    <% for i in 1..num %>
      <tr>
        <td style="width: 50%;">
          <% a = @posts.limit(i*2-1).last %>
          <% modal_a = "modal_a"+i.to_s %>
          <%= render partial: "post_modal", :locals=>{:modal_id => modal_a, :modal_post => a} %>
        </td>
        <td style="width: 50%;">
          <% b = @posts.limit(i*2).last %>
          <% modal_b = "modal_b"+i.to_s %>
          <%= render partial: "post_modal", :locals=>{:modal_id => modal_b, :modal_post => b} %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %> <!-- 投稿が奇数 -->
  <% if @posts.count!=1 %>
    <table align="center"  style="width:84%;">
      <% for i in 1..num %>
        <tr>
          <td style="width: 50%;">
            <% a = @posts.limit(i*2-1).last %>
            <% modal_a = "modal_a"+i.to_s %>
            <%= render partial: "post_modal", :locals=>{:modal_id => modal_a, :modal_post => a} %>
          </td>
          <td style="width: 50%;">
            <% b = @posts.limit(i*2).last %>
            <% modal_b = "modal_b"+i.to_s %>
            <%= render partial: "post_modal", :locals=>{:modal_id => modal_b, :modal_post => b} %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td style="width: 50%;">
          <% c = @posts.last %>
          <% modal_c = "modal_c"+i.to_s %>
          <%= render partial: "post_modal", :locals=>{:modal_id => modal_c, :modal_post => c} %>
        </td>
      </tr>
    </table>
  <% else %>
    <table style="width:42%; margin-left: 8%">
      <tr>
        <td style="width: 50%;">
          <% a = @posts.last %>
          <% modal_a = "modal_a"+i.to_s %>
          <%= render partial: "post_modal", :locals=>{:modal_id => modal_a, :modal_post => a} %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
<br><br><br><br>
