<table style="width: 90%; font-size: 16px; margin: 3% auto auto auto; text-align: center;" align="center">
  <tr>
    <td width="40%" rowspan="2">
      <%= image_tag @user.image.url, class: 'rounded-circle', size: '128x128' %>
    </td>
    <td class="name" colspan="2"><%= @user.name %></td>
  </tr>
  <tr height="0">
    <td width="30%">
      <%= link_to @user.followers.count, :followers_account %><br>フォロワー
    </td>
    <td width="30%">
      <%= link_to @user.followings.count, :followings_account %><br>フォロー
    </td>
  </tr>
</table>

<table style="width: 90%; font-size: 20px; text-align: center;" align="center">
  <tr>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <%= @user.undergraduate %> <%= @user.grade %>年
      </p>
    </td>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <%= @user.birthplace %>
      </p>
    </td>
    <td>
      <p style="padding: 5px; display: inline-block; background-color: #D9D9D9; border-radius: 4px;">
        <% if @user.sex==1 %>男性
        <% elsif @user.sex==2 %>女性
        <% else %>--
        <% end %>
      </p>
    </td>
  </tr>
</table>

<p align="center"><%= safe_join(@user.comment.split("\n"),tag(:br)) %></p>

<% if @user.twitter.present? %>
  <% tw = 'https://twitter.com/'.concat(@user.twitter) %>
  <ul><%= link_to 'Twitter', tw %></ul>
<% end %>
<% if @user.instagram.present? %>
  <% i = 'https://www.instagram.com/'.concat(@user.instagram) %>
  <ul><%= link_to 'Instagram', i %></ul>
<% end %>
<% if @user.tiktok.present? %>
  <% ti = 'https://www.tiktok.com/'.concat(@user.tiktok) %>
  <ul><%= link_to 'TikTok', ti %></ul>
<% end %>

<p>
  <%= button_to "プロフィールを編集する", :edit_account, {method: :get, class: "pro-btn"} %>
  <%= button_to "質問箱", :new_request, {method: :get, class: "req-btn"} %>
</p>


<table border="3" align="center">
  <caption>時間割</caption>
  <tr align="center">
    <th width="30"></th>
    <th width="50">月</th>
    <th width="50">火</th>
    <th width="50">水</th>
    <th width="50">木</th>
    <th width="50">金</th>
  </tr>
  <tr align="center" height="50">
    <th>１</th>
    <% if @timetable.mon1==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue1==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed1==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu1==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri1==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th>２</th>
    <% if @timetable.mon2==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue2==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed2==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu2==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri2==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th>３</th>
    <% if @timetable.mon3==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue3==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed3==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu3==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri3==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th>４</th>
    <% if @timetable.mon4==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue4==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed4==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu4==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri4==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
  <tr align="center" height="50">
    <th width="30">５</th>
    <% if @timetable.mon5==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.tue5==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.wed5==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.thu5==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
    <% if @timetable.fri5==1 %><td bgcolor="pink">空き</td>  <% else %><td><%= image_tag('study.png', size: "40x40")%></td>  <% end %>
  </tr>
</table>
<br>
<% @tags.each do |tag| %>
  <%= tag.name %>
<% end %>
<%= link_to "タグ", :new_account_tag %>
<br>
<%= link_to "<<ユーザ一覧に戻る", :users %>
